/* backdrop */
.backdrop.is-hidden {
    transform: scale(1.2);
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.backdrop-mobile.is-hidden {
    transform: scale(1.2);
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}