/* Змінні */

:root {
    --colorText-primary: rgba(212, 20, 67, 1);
    --colorText-secondary: rgba(255, 255, 255, 1);
    --colorText-third: rgba(255, 165, 186, 1);
    --colorText-other: rgba(0, 0, 0, 1);
    --colorText-accent: rgba(144, 126, 130, 1);
    --colorText-reviews: rgba(144, 126, 130, 1);

    --color-icon: rgba(254, 165, 187, 1);
    
    --colorBack-primary: rgba(255, 245, 246, 1);
    --colorBack-secondary: rgba(255, 184, 202, 1);
    --colorBack-modal: rgba(225, 121, 146, 1);
    --colorBack-btnHover: rgba(236, 235, 235, 1);
    
    --fontFamaly-primary: 'Titan One', cursive;
    --fontFamaly-secondary: 'DM Sans', sans-serif;
  }