.button-menu {
    display: block;
    border: none;
    background-color: transparent;
    padding: 0;
    width: 20px;
    height: 20px;

    &__thumb-icon{
        fill: var(--colorText-primary);
        width: 100%;
        height: 100%;
        .button-header:hover &,
        .button-header:focus &{
            fill: var(--color-accent);
        }
    }
    // &__icon{
    //     // []
    // }
    
    @include media-min (1200px) {
        display: none;
    }

}