/* Хедер */
.header-page {
    // position: fixed;
    // top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;
    background-color: transparent;
    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include media-min-max (768px, 1200px) {
            justify-content: space-around;
            flex-grow: 1;
        }
    }
    &__outer-margin {
        @include media-max (1200px) {
            padding: 0.5rem 0 0.5rem 0;
        }
        // margin-top: 1rem;
        // margin-bottom: 1rem;
        @include media-min (1200px) {
            // margin-top: 1.562rem;
            // margin-bottom: 1.562rem;
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }  
}