/* Лого хедер */
.logo__first-half-header {
    color: var(--color-accent);
}
.logo__secondary-half-header {
    color: var(--color-third);
}


@include media-min (1200px) {
    .logo__header-page {
        margin-right: 5.875rem;
    }
}